{% extends "portal/base1.html" %}
{% load static %}
{% block main %}



        <main class="flex-shrink-0">
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Empowering Students with Mock Tests</h1>
                                <p class="lead fw-normal text-muted mb-4">AfsarBabu is dedicated to providing a seamless experience for students to excel in their exams. Our mission is to simplify the process of taking mock tests, making exam preparation more accessible and effective.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read Our Story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static "business/images/mission.jpg" %}" alt="Our Mission" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our Mission</h2>
                            <p class="lead fw-normal text-muted mb-0">AfsarBabu was founded with the mission of revolutionizing exam preparation. We believe that every student deserves access to high-quality mock tests to enhance their learning experience. From day one, our focus has been on providing a user-friendly platform that empowers students to assess their knowledge, identify strengths and weaknesses, and achieve academic success.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static "business/images/vision.jpg" %}" alt="Our Vision" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our Vision</h2>
                            <p class="lead fw-normal text-muted mb-0">As AfsarBabu grows, our commitment to students remains unwavering. We envision a future where every student can confidently face exams, armed with the knowledge and skills gained through our mock tests. Our journey extends beyond providing tests; we aspire to foster a community of learners, offering support and resources that contribute to educational success. Join us as we continue to innovate and empower students on their academic journey.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <h5 class="fw-bolder">Yash Kshirsagar</h5>
                                <div class="fst-italic text-muted">Founder &amp; CEO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <h5 class="fw-bolder">Krishan Kant Pathak</h5>
                                <div class="fst-italic text-muted">Founder &amp; COO</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <h5 class="fw-bolder">Pranav Lohar</h5>
                                <div class="fst-italic text-muted">CTO</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <h5 class="fw-bolder">Akshata Jadhav</h5>
                                <div class="fst-italic text-muted">CMO</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                            
        </main>

{% endblock main %}






