{% extends "users/base.html" %}
{% load static %}
{% block title %}Exam{% endblock title %}
{% block main %}


<br>

<div class="main-form container mt-5">
    <div class="container mt-3">
        <a href="{% url 'exams' %}" class="btn btn-secondary">Back</a>
      </div>
    <br>

    <form action="" method="post" class="mt-4" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% if field.widget.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.widget.input_type == 'select' %}
                    <select class="form-select" id="{{ field.id_for_label }}" name="{{ field.name }}">
                        {% for choice in field.choices %}
                            <option value="{{ choice.0 }}" {% if field.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                {% elif field.widget.input_type == 'textarea' %}
                    <textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" rows="3">{{ field.value }}</textarea>
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Add Exam</button> 
        </div>
        <div class="text-center">
            <h3>{{error}}</h3>

        </div>
    </form>

    {% if messages %}
    <div class="mt-4">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<br>
<br><br>
{% endblock main %}
