
{% extends "users/base.html" %}
{% load static %}
{% block main %}


<div class="container rounded mt-5 bg-white p-md-5">
    <div class="container mt-3">
        <a href="{% url 'assessment-list' id1 %}" class="btn btn-secondary">Back</a>
    </div><br>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="h2 font-weight-bold">Questions</div>
        <a href="{% url 'add-question' id %}" class="btn btn-primary">add question</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Question</th>
                </tr>
            </thead>
            <tbody>
                {% for q in Questions %}
                <tr class="bg-blue">
                    <td class="pt-3">{{forloop.counter}}</td>
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url "update-question" q.id %}" class="topic-link">{{ q.short_question }}</a>
                        </div>
                    </td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock main %}