
{% extends "users/base.html" %}
{% load static %}
{% block main %}


<div class="container bg-white p-3">
    <div class="mb-3">
        <a href="{% url 'assessment-list' id1 %}" class="btn btn-secondary">Back</a>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="fs-2 fw-bold me-2">Questions</div>
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-start">
            {% csrf_token %}
            <div class="mb-2">
                <input type="file" name="json_file" accept=".json" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-success">JSON File</button>
            </div>
        </form>
        <a href="{% url 'add-question' id %}" class="btn btn-primary ms-2">Add Question</a>
    </div>

    <p>{{request.GET.error}}</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Question</th>
                </tr>
            </thead>
            <tbody>
                {% for q in Questions %}
                <tr class="bg-blue">
                    <td class="pt-3">{{q.no}}</td>
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url "update-question" q.id %}" class="topic-link">{{ q.short_question }}</a>
                        </div>
                    </td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock main %}