
{% extends "users/base.html" %}
{% load static %}
{% block title %}Text Quiz{% endblock title %}
{% block main %}

<div class="main container">
    <form action="{% url "show-quiz" assessment.id %}" method="post" id="short_quiz">
        {% csrf_token %}
        {% if questions %}
            {{ formset.management_form }}
                {% for q in questions %}
                    <p class="fs-4">{{ q }}</p>
                    {% for form in formset %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            <input type='hidden' name="{{form.prefix}}-user" value="{{ user }}"/>
                            <input type='hidden' name="{{form.prefix}}-question" value="{{ q.id }}"/>
                            <div class="form-group">
                                <label for="content"></label>
                                  <textarea class="form-control" name="{{form.prefix}}-content" id="content" 
                                  placeholder="Enter Your Answer Here." rows="4" cols="50"></textarea>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary">
        {% else %}
        <div class="main-form container">
            <h1 id="contain">No Questions Available if you are instructor please add questions first.</h1>
        </div>
        {% endif %}
    </form>
</div>
{% endblock main %}