
{% extends "users/base.html" %}
{% load static %}
{% block main %}

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="container mt-3">
        <a href="{% url 'topic-list' %}" class="btn btn-secondary">Back</a>
    </div><br>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="h2 font-weight-bold">SubTopics</div>
        {% if user.type == 'instructor' %}
        <a href="{% url 'add_subtopic' id %}" class="btn btn-primary">add subtopic</a>
                    {% endif %}
        
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    {% if user.type == 'instructor' %}
                    <th scope="col">Edit</th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>
                {% for subtopic in SubTopics %}
                <tr class="bg-blue">
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url "assessment-list" subtopic.id %}" class="text-black">{{ subtopic.title }}</a>
                        </div>
                    </td>
                    {% if user.type == 'instructor' %}
                    <td class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url 'update_subtopic' subtopic.id%}">Edit</a></td>
                    {% endif %}
                    
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock main %}