{% extends "users/base.html" %}
{% load static %}
{% block main %}

<div class="container bg-white p-3">
    <div class="mb-3">
        <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="h3 fw-bold">Topics</div>
        {% if user.type == 'instructor' %}
            <a href="{% url 'add_topic' %}" class="btn btn-primary">Add topic</a>
        {% endif %}   
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    {% if user.type == 'instructor' %}
                    <th scope="col">Edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for topic in Topics %}
                {% if user.type == 'instructor' %}
                <tr class="bg-blue">
                    <td class="px-2"> 
                        <div class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url 'sub-topic-list' topic.id %}">{{ topic.title }}</a></div>
                    </td>
                    {% if user.type == 'instructor' %}
                    <td class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url 'update_topic' topic.id %}">Edit</a></td>
                    {% endif %}
                </tr>
                {% else %}
                <tr class="bg-blue">
                    <td class="px-2">
                        <a href="{% url 'sub-topic-list' topic.id %}" class="d-block">
                            <div class="pl-lg-5 pl-md-5 pl-1 name">{{ topic.title }}</div>
                        </a>
                    </td>
                </tr>                
                {% endif %}
                <tr class="spacing-row">
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock main %} 
