{% extends "users/base.html" %}
{% load static %}
{% block main %}

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="container mt-3">
        <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
    </div><br>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="h2 font-weight-bold">Topics</div>
        <a href="{% url 'add_topic' %}" class="btn btn-primary">add topic</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in Topics %}
                <tr class="bg-blue">
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url "sub-topic-list" topic.id %}" class="topic-link">{{ topic.title }}</a>
                        </div>
                    </td>
                    <td class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url 'update_topic' topic.id %}">Edit</a></td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock main %} 




{% comment %} 
{% extends "users/base.html" %}
{% load static %}
{% block main %}

<style>
    body {
      display: grid;
      grid-template-rows: 1fr auto; /* 1fr for the main content, auto for the footer */
      min-height: 100vh;
      margin: 0;
    }

  </style>
{% comment %} <style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box
}

body {
    background-color: #d9ecf2;
    font-family: 'Poppins', sans-serif;
    color: #666
}

.h2 {
    color: #444;
    font-family: 'PT Sans', sans-serif
}

thead {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666
}

.name {
    display: inline-block
}

.bg-blue {
    background-color: #EBF5FB;
    border-radius: 8px
}

.fa-check,
.fa-minus {
    color: blue
}

.bg-blue:hover {
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer
}

.bg-blue:hover .fa-check,
.bg-blue:hover .fa-minus {
    background-color: #3e64ff;
    color: #eee
}

.table thead th,
.table td {
    border: none
}

.table tbody td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.table tbody td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#spacing-row {
    height: 10px
}

@media(max-width:575px) {
    .container {
        width: 125%;
        padding: 20px 10px
    }
}
.topic-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from the parent */
}

</style> 


<div class="container mt-3">
    <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
</div>

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="h2 font-weight-bold">Topics</div>
        <a href="{% url 'add_topic' %}" class="btn btn-primary">add topic</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in Topics %}
                <tr class="bg-blue">
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url "sub-topic-list" topic.id %}" class="topic-link">{{ topic.title }}</a>
                        </div>
                    </td>
                    <td class="pl-lg-5 pl-md-5 pl-1 name"><a href="{% url 'update_topic' topic.id %}">Edit</a></td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock main %} {% endcomment %}