
{% extends "users/base.html" %}
{% load static %}
{% block title %}Assessment update{% endblock title %}
{% block main %}

<div class="container mt-3">
    <a href="{% url 'assessment-list' id %}" class="btn btn-secondary">Back</a>
  </div>

<div class="main-form container">
    <h1>Update here</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        {% for f in form %}
        <label for="{{ f.id_for_label }}">{{ f.label|title }}</label>
        <input type="text", name="{{f.name}}", value="{{f.value}}" class="form-control"> <br>
        {% endfor %}
        <button type="submit" class="btn btn-primary auto">Update</button> <a href="{% url 'delete-assessment' id %}" class="btn btn-danger">Delete this assessment</a>
    </form>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}
</div>

{% endblock main %}