{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Reset</title>
    <link href="{% static 'users/css/login.css' %}" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
      <div class="title-text">
        <div class="title password-reset">Reset Password</div>
      </div>
      {% if messages %}

        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}

      {% endif %}
      <div class="form-container">
        <div class="form-inner">
          <form method = "post" class="login">
            {% csrf_token %}
            <div class="field">
              <input type="email" name="email" id="id_email" placeholder="YOUR EMAIL"/>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Send">
            </div>
		  </form>
        </div>
      </div>
	  <a href="{% url 'login' %}"  class="cancel-btn">Cancel</a>
    </div>
</body>
</html>