{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Reset</title>
    <link href="{% static 'users/css/login.css' %}" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
    <div class="title-text">
      <div class="title password-reset">Reset Password</div>
    </div>
    <div>
      <p>
        Please check your inbox and follow the instruction to reset your password.
      </p>
    </div>
	  <a href="{% url 'login' %}"  class="cancel-btn">Login</a>
  </div>
</body>
</html>
