{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Reset</title>
    <link href="{% static 'users/css/login.css' %}" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
      <div class="title-text">
        <div class="title password-reset">Reset Password Confirmation</div>
      </div>
      {% if messages %}

        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}

      {% endif %}
      <div class="form-container">
        <div class="form-inner">
          <form method = "post" class="login">
            {% csrf_token %}
            <p>{{form.errors}}</p>
            <div class="field">
              <input type="password" name="new_password1" required
              id="id_new_password1" placeholder="NEW PASSWORD"/>
            </div>
            <div class="field">
              <input type="password" name="new_password2" required
              id="id_new_password2" placeholder="NEW PASSWORD CONFIRM"/>
            </div>
            <div class="field btn">
              <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
	  <a href="{% url 'login' %}"  class="cancel-btn">Cancel</a>
    </div>
</body>
</html>
