{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static "users/fonts/material-icon/css/material-design-iconic-font.min.css" %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "users/css/loginstyle.css" %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign Up</h2>
                        {% if messages %}

                        {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                        {% endfor %}
                  
                        {% endif %}
                        <form method="post" class="register-form" id="register-form" action = "{% url "register" %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="{{form.email.name}}" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="number" name="{{form.phone.name}}" id="name" placeholder="Your Contact"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="{{form.password.name}}" id="pass" placeholder="Password"/>
                            </div>
                            {{form.type}}
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Sign Up"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static "users/images/signup-image.jpg" %}" alt="sing up image"></figure>
                        <a href="{% url "login" %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <!-- JS -->
    <script src="{% static "users/vendorLogin/jquery/jquery.min.js" %}"></script>
    <script src="{% static "users/js/loginmain.js" %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>