@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');

body {
  background-color: #f2f2f2;
  margin: 0;
}

* {
  box-sizing: border-box
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl{
  padding-left: 0 !important;
    padding-right: 0 !important;
}

.h2 {
  color: #444;
  font-family: 'PT Sans', sans-serif
}

thead {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #666
}

.name {
  display: inline-block
}

.bg-blue {
  background-color: #EBF5FB;
}

.fa-check,
.fa-minus {
  color: blue
}

.bg-blue:hover {
  background-color: #3e64ff;
  color: #eee;
  cursor: pointer
}

.bg-blue:hover td,
.bg-blue:hover a {
  color: #eee;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.bg-blue:hover .fa-check,
.bg-blue:hover .fa-minus {
  background-color: #3e64ff;
  color: #eee
}

.table thead th,
.table td {
  border: none
}

.table tbody td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px
}

.table tbody td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px
}

#spacing-row {
  height: 10px
}

.container {
  overflow-y: hidden;
}

@media(max-width:575px) {
  .container {
    width: 100%;
    padding: 20px 10px;
    overflow-y: hidden;
  }
}

.topic-link,
.assessment-link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

#results {
  display: none;
  /* Initially hidden */
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  /* Position the results appropriately */
  background: white;
  z-index: 1000;
  /* Ensure it's on top */
}

#searchInput:focus+#results {
  display: block;
  /* Show the results when the input is focused */
}


.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section h2.section-head {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

.section h2.section-head:after {
  background: blue;
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 20px auto;
}

/* navbar css start */

.navbar {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
}

/* navbar css end */


#footer-sidebar {
  color: #fff;
  background-color: #34495e;
  padding: 20px 0;
  /* position: fixed; */
}

.footer-widget h4:after {
  content: "";
  background: #fff;
  display: block;
  height: 3px;
  width: 50px;
  margin: 5px 0;
}

.latest-news {
  list-style: none;
  margin: 0;
  padding: 0;
}

.latest-news li {
  margin-bottom: 3px;
}

.footer-widget ul li a {
  text-decoration: none;
  color: #fff;
}

#footer {
  color: #fff;
  background: #2c3e50;
  padding: 10px 0;
}

#social-icons {
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

#social-icons li {
  display: inline-block;
  padding-left: 5px;
}

#social-icons li a {
  color: #fff;
  font-size: 23px;
}

.main-form {
  width: 90%;
  height: 650%;
  background-color: #f8f3f6;
  border-radius: 15px;
  margin: auto;
  margin-top: 80;
  margin-bottom: 10;
}

.main {
  margin-top: 80;
  margin-bottom: 10;
  background-color: #f8f3f6;
}

#contain {
  padding-top: 200px;
  color: #007bff;
}

.main-form.lighter {
  filter: brightness(90%);
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: url("../img/hero-bg.png") center bottom no-repeat;
  background-size: cover;
  padding: 250px 0 120px 0;
}



#hero .hero-img {
  width: 50%;
  float: right;
}

#hero .hero-info {
  width: 50%;
  float: left;
}

#hero .hero-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#hero .hero-info h2 span {
  color: #74b5fc;
  text-decoration: underline;
}

#hero .hero-info .btn-get-started,
#hero .hero-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#hero .hero-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#hero .hero-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#hero .hero-info .btn-services {
  border: 2px solid #fff;
}

#hero .hero-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

.body-parent-div #hero {
  height: calc(100vh - 120px);
}


/* media query */


@media (max-width: 1440px) {
  #hero {
    padding: 50px 0 -1px 0;
  }
}

@media (max-width: 991px) {
  #hero {
    padding: 30px 0 10px 0;
  }

  .search-container {
    display: none !important;
  }

  #hero .hero-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #hero .hero-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #hero {
    padding: 20px 0 6px 0;
  }

  #footer {
    text-align: center;
  }

  #hero .hero-info {
    width: 100%;
  }
}

@media (max-width: 574px) {
  #hero {
    padding: 10px 0 4px 0;
  }
  #hero .hero-info h2 {
    font-size: 34px;
  }
  .body-parent-div #hero {
    height: calc(95vh - 120px) !important;
  }
}

@media (max-width: 340px) {
  #hero {
    padding: 10px 0 4px 0;
  }

  #hero .hero-info h2 {
    font-size: 34px;
  }

  .body-parent-div #hero {
    height: calc(92vh - 120px) !important;
  }
}